html{font-size:62.5%;}
.dw,.dwo{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.dw{position:absolute;top:0;left:0;z-index:1001;font-size:1.2rem;-webkit-backface-visibility:hidden;-webkit-user-select:none;user-select:none;touch-action:none;background:#f5f5f5}
.dwwr{min-width:170px;text-align:center;overflow:hidden;}
.dw-persp,.dwo{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1001}
.dwo{background:#000;background:rgba(0,0,0,.7);filter:Alpha(Opacity=70)}
.dwc{vertical-align:middle;display:inline-block}
.dwl{position:absolute;top:-30px;left:0;width:100%;line-height:30px;white-space:nowrap;}
.dwhl .dwl{display:none}
.dwv{font-size:1.4rem;line-height:44px;color:#31b6e7;border-bottom:2px solid #31b6e7}
.dw-hidden{width:0;height:0;margin:0;border:0;overflow:hidden}
.dwwl{position:relative}
.dww{position:relative;overflow:hidden}
.dw-moz .dww{opacity:.99}
.dw-ul{position:relative;z-index:2}
.dw-li{display:block;white-space:nowrap;vertical-align:bottom;opacity:.3;filter:Alpha(Opacity=30)}
.dw-li.dw-hl{background:#fff;background:rgba(255,255,255,.3)}
.dw-li.dw-v{opacity:1;filter:Alpha(Opacity=100)}
.dw-li.dw-h{visibility:hidden}
.dw-i{position:relative;height:100%;overflow:hidden;text-overflow:ellipsis}

/* arrow */
.dwwb{position:absolute;z-index:4;left:0;width:100%;height:36px;background:#f5f5f5;opacity:1;}
.dwwb:after{position:absolute;top:50%;left:50%;margin:-8px 0 0 -8px;width:0;height:0;border:8px dashed transparent;content:''}
.dwwbp{bottom:0;}
.dwwbp:after{border-top:8px solid #666;}
.dwwbm{top:0;}
.dwwbm:after{border-bottom:8px solid #666;}

/* checked */
.dwwo{position:absolute;z-index:3;top:0;left:0;width:100%;height:100%;}
.dwwol{position:absolute;z-index:1;top:50%;left:20%;width:60%;height:36px;margin-top:-18px;border:0 solid #31b6e7;border-width:2px 0;pointer-events:none;}

/* button */
.dwb-e{display:block;height:36px;line-height:36px;color:#333;text-decoration:none;overflow:hidden;}
.dwb-a{-webkit-box-shadow:inset 0 0 100px rgba(0,0,0,0.2);box-shadow:inset 0 0 100px rgba(0,0,0,0.2);}
.dwb-s{float:right;border-left:1px solid #e7e7e7}

.dwbc{border-top:1px solid #e7e7e7;overflow:hidden;}

.dw-in {
    -webkit-animation: dw-su-in 0.35s ease-out;
    animation: dw-su-in 0.35s ease-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.dw-out {
    animation: dw-su-out 0.35s ease-in;
    -webkit-animation: dw-su-out 0.35s ease-in;
    -webkit-transform: translateY(100%);
}

@-webkit-keyframes dw-su-in{
    from{-webkit-transform:translate3d(0,100%,0)}
    to{-webkit-transform:translate3d(0,0,0)}
}
@keyframes dw-su-in{
    from{transform:translate3d(0,100%,0)}
    to{transform:translate3d(0,0,0)}
}
@-webkit-keyframes dw-su-out{
    from{-webkit-transform:translate3d(0,0,0)}
    to{-webkit-transform:translate3d(0,100%,0)}
}
@keyframes dw-su-out{
    from{transform:translate3d(0,0,0)}
    to{transform:translate3d(0,100%,0)}
}